* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;

    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    
    
    width:100%;                   
    text-align:center;
    
    z-index: -10;  
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        

    }
}
.page-header {
  color: #FFF;
  padding-top: 10px;
  background-color: #46B6F5;
  padding-bottom: 10px;
  margin: 0px 0 0px;
  /* border-bottom: 1px solid #eee; */
  text-transform: uppercase;
}

.page-header img{
    margin-right: 10px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#04b3c3;
    display:block;
}

.event.received {
    background-color:#04b3c3;
    display:none;
}


.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 50px;
}
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*
.photo, .geo{
  background: #F27062;
  padding: 0.8em;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  border: 4px solid #fff;
  font-weight: bold;
  width: 200px;

}

.geo {
  background: #17A867;
  */
}
.bottom{
    margin-bottom: 60px;
}

.flash {
  -webkit-animation-name: flash ;
  animation-name: flash ;
}


/*LA NAVIGATION
===============*/
.navbar-header{
    background-color: #46b6f5;
    border: none;
}
.navbar-default, .navbar-brand,{
  color: #FFF !important;
  border-color:none;
}
.icon-bar{
    background-color: #fff !important;
}
.navbar{
    border:none;
    text-transform: uppercase;
}
.navbar img{
    margin-right: 5px;
}
.navbar-toggle{
    border:solid #fff 1px !important;
    border-radius: 1px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 20px;
  }


/*==========================================
                LES PAGES
===========================================*/


/*ACCUEIL
=========*/

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgba(70, 182, 245, 0.41) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(70, 182, 245, 0.39)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(70, 182, 245, 0.4) 0,rgba(0,0,0,.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(70, 182, 245, 0.41) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(70, 182, 245, 0.4)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(70, 182, 245, 0.39) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #46B6F5;
}


/*CAMERA
========*/

/*GÉOLOCALISATION
=================*/


/*CONTACT
=========*/


#search{
    margin-top: 5px;
    width: 100%;
    padding: 6px 12px;
    background-color:rgba(255, 255, 255, 0.3);
    color: #FFF;
    font-size: 15px;
    text-align: left;
    text-transform: capitalize;
    border-bottom: 1px solid #FFF;
}

.thumbnail .caption {
  bottom: 140px;
  position: relative;
  color: #333;
}
.thumbnail2{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: rgba(255, 255, 255, 0);
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

/*LANGUAGES
===========*/