<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.inagua.training.phonegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
		<name>Muzzy</name>
		<description>
				A sample Apache Cordova application that responds to the deviceready event.
		</description>
		<author email="dev@cordova.apache.org" href="http://cordova.io">
				Apache Cordova Team
		</author>
		<content src="index.html" />
		<access origin="*" />
		<engine name="ios" version="3.8.0" />
		<platform name="ios">
							<!-- iOS 8.0+ -->
							<!-- iPhone 6 Plus  -->
							<icon src="Resources/ios/icons/icon-60@3x.png" width="180" height="180" />
							<!-- iOS 7.0+ -->
							<!-- iPhone / iPod Touch  -->
							<icon src="Resources/ios/icons/icon-60.png" width="60" height="60" />
							<icon src="Resources/ios/icons/icon-60@2x.png" width="120" height="120" />
							<!-- iPad -->
							<icon src="Resources/ios/icons/icon-76.png" width="76" height="76" />
							<icon src="Resources/ios/icons/icon-76@2x.png" width="152" height="152" />
							<!-- iOS 6.1 -->
							<!-- Spotlight Icon -->
							<icon src="Resources/ios/icons/icon-40.png" width="40" height="40" />
							<icon src="Resources/ios/icons/icon-40@2x.png" width="80" height="80" />
							<!-- iPhone / iPod Touch -->
							<icon src="Resources/ios/icons/icon.png" width="57" height="57" />
							<icon src="Resources/ios/icons/icon@2x.png" width="114" height="114" />
							<!-- iPad -->
							<icon src="Resources/ios/icons/icon-72.png" width="72" height="72" />
							<icon src="Resources/ios/icons/icon-72@2x.png" width="144" height="144" />
							<!-- iPhone Spotlight and Settings Icon -->
							<icon src="Resources/ios/icons/icon-small.png" width="29" height="29" />
							<icon src="Resources/ios/icons/icon-small@2x.png" width="58" height="58" />
							<!-- iPad Spotlight and Settings Icon -->
							<icon src="Resources/ios/icons/icon-50.png" width="50" height="50" />
							<icon src="Resources/ios/icons/icon-50@2x.png" width="100" height="100" />
						<!-- images are determined by width and height. The following are supported -->
						<splash src="Resources/ios/splash/Default~iphone.png" width="320" height="480"/>
						<splash src="Resources/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
						<splash src="Resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
						<splash src="Resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
						<splash src="Resources/ios/splash/Default-Landscape~ipad.png" width="1024" height="768"/>
						<splash src="Resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
						<splash src="Resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
						<splash src="Resources/ios/splash/Default-667h.png" width="750" height="1334"/>
						<splash src="Resources/ios/splash/Default-736h.png" width="1242" height="2208"/>
						<splash src="Resources/ios/splash/Default-Landscape-736h.png" width="2208" height="1242"/>

						<feature name="Contacts">
								<param name="ios-package" value="CDVContacts" />
						</feature>
		 </platform>
		 <platform name="android">
            <icon src="Resources/android/drawable-ldpi/icon.png" density="ldpi" />
            <icon src="Resources/android/drawable-mdpi/icon.png" density="mdpi" />
            <icon src="Resources/android/drawable-hdpi/icon.png" density="hdpi" />
            <icon src="Resources/android/drawable-xhdpi/icon.png" density="xhdpi" />

            <splash src="Resources/android/drawable-land-hdpi/screen.png" density="land-hdpi"/>
		    <splash src="Resources/android/drawable-land-ldpi/screen.png" density="land-ldpi"/>
		    <splash src="Resources/android/drawable-land-mdpi/screen.png" density="land-mdpi"/>
		    <splash src="Resources/android/drawable-land-xhdpi/screen.png" density="land-xhdpi"/>

		    <splash src="Resources/android/drawable-port-hdpi/screen.png" density="port-hdpi"/>
		    <splash src="Resources/android/drawable-port-ldpi/screen.png" density="port-ldpi"/>
		    <splash src="Resources/android/drawable-port-mdpi/screen.png" density="port-mdpi"/>
		    <splash src="Resources/android/drawable-port-xhdpi/screen.png" density="port-xhdpi"/>

     </platform>


</widget>
